<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid ">
      <a class="navbar-brand" routerLink="/productos/listado">
        <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="15" alt="" loading="lazy" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/productos/listado">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/productos/agregar">Subir Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clientes/listado">Lista Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clientes/agregar">Agregar Cliente</a>
          </li>
         
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">UserName: {{userName}} |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="login()">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>