<h1>RUTAS Auth</h1>
<ul>
  <li><a routerLink="/auth/login">Login</a></li>
  <li><a routerLink="/auth/registro">Registro</a></li>
  <li><a routerLink="/auth/forgot">Forgot</a></li>
</ul>
<h1>RUTAS Productos</h1>
<ul>
  <li><a routerLink="/productos/agregar">agregar</a></li>
  <li><a routerLink="/productos/editar">editar</a></li>
  <li><a routerLink="/productos/listado">listado</a></li>
  <li><a routerLink="/productos/producto">producto</a></li>
  
</ul>

<h1>RUTAS Cliente</h1>
<ul>
  <li><a routerLink="/clientes/agregar">agregar</a></li>
  <li><a routerLink="/clientes/listado">listado</a></li>
  <li><a routerLink="/clientes/cliente">cliente</a></li>
  
</ul>
<router-outlet></router-outlet>